---
import Base from '../layouts/Base.astro';
import { SITE_DESCRIPTION } from '../consts';
import Socials from '../components/SocialLinks.astro';
---

<Base title="About Page" description={SITE_DESCRIPTION}>
	<section class="block">
		<div class="relative before:absolute before:top-0 before:left-0 before:right-0 before:bottom-[36%] before:bg-primary before:z-0 pt-12 md:pt-20">
			<figure class="container max-w-screen-md mx-auto px-4 sticky z-1">
				<img
					class="mx-auto w-7/12 sm:w-5/12 aspect-square rounded-full object-cover object-center shadow-sm shadow-lightText border border-4 sm:border-8 border-primary"
					src="/author_image.png"
					alt="author logo"
				/>
			</figure>
		</div>
		<div class="container max-w-screen-md mx-auto px-4 my-20 md:my-24">
			<article class="space-y-4 text-secondary prose-base prose-headings:text-primary prose-headings:font-semibold max-w-full">
				<h1>
					Welcome to my Corner of the Web!
				</h1>
				<p>
					Here I'll add links to good accuracte sources with a notation where you can reference them with just a number. 
					That way when having online fights you can reference a source by saying (zeke.church/1, replace 1 with whatever number corresponds to the source you would like to reference. 
					This is also the place where I will write more in depth on issues and share my thoughts while linking to the sources I used to substantiate my positions and claims.  
					Opinions without evidence is just gossip and I will try to limit that as much as possible.  
					If you have questions on my thoughts or need clarification just leave a comment or shoot me a message and I'll try to clarify if I think your question has merit.
					Also if anyone would like to debate a topic I'm happy to do that and will leave the guidelines of debates below.
				</p>
				<h2>
					Want to debate me?
				</h2>
				<img 
					src="/debatedrinkinggame.jpg" 
					alt="Debate Cartoon" 
					class="float-left w-full sm:w-6/12 md:w-1/3 mr-4 rounded-md"
				>
				<p>
					I think the notion that video or in person debates with short form responses can be effective is a joke.  These Charlie Kirk, Destiny, Ben Shapiro style "debates" are mostly for engagement and clicks and don't do a good job of improving discussions and getting closer to truth.
				</p>
				<p>
					In my opinion this is because these debates rely on the debaters memory and also the lack of any kind of fact checking or need to show evidence.  They regularly devolve into an argument about "fake news" or "misinformation" or "the main stream media."  This could all be solved by written debates.   
				</p>
				<p>
					This will make debates actually productive.  Not sure on a subject someone wants to debate you on?  Read books, call an expert, watch lectures, whatever you need to educate yourself to make the best argument.  You have time to do this with a written debate. The idea isn't to see who is the quickest with a come back or who memorized the most facts or who can talk the fastest.  It is who has the best argument based on the facts and evidence we have available to us at the time.  Everything else is just Pro Wrestling.
				</p>
				<p>
					In a written debate you can cite sources and take your time to make the best form of the argument with the most current facts.  The debater is forced to show the facts he used and where he got them.  If after a written debate on a topic the people would then like to discuss it in a video or debate it in a video they can, but they are both tied to the evidence and positions in their writings so they can't just spin off to unrelated topics or make up evidence that doesn't exist because if it was accurate why wasn't it used as a source in your writings.
				</p>
				<img 
					src="/trumpwrestling3.webp" 
					alt="Trump Stone Cold Stunner" 
					class="float-left w-full sm:w-6/12 md:w-1/3 mr-4 rounded-md"
				>
				<p>
					I will make a seperate page for all debates where I will post both sides unedited so people can see the whole argument.  I will also link to any correspondence aor other info that will give additional information the outside observer could benefit from.  The goal will be absolute transparency which I know will scare some people off, but if you are interested in a high quality, informative discussion/debate please reach out.
				<p>
			</article>
			<Socials extra_class="mt-14 md:mt-16 justify-center" />
		</div>
	</section>
</Base>
